#!/bin/bash

# Check for Homebrew
if test ! $(which brew)
then
  echo "  Installing Homebrew for you."

  if test "$(uname)" = "Darwin"
  then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  elif test "$(expr substr $(uname -s) 1 5)" = "Linux"
  then
    ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Linuxbrew/install/master/install)"
  fi
else
  echo "  Brew already installed."
fi

set -eufo pipefail

{{ $brews := list
     "bat"
     "curl"
     "docker"
     "fzf"
     "gh"
     "git"
     "go"
     "jq"
     "kubernetes-cli"
     "lua"
     "neovim"
     "postgresql"
     "protobuf"
     "python"
     "ripgrep"
     "tmux"
     "wget"
     "zsh"
     "zsh-syntax-highlighting"
     "zsh-history-substring-search"
     "zsh-autosuggestions" -}}

{{ $casks := list
     "obsidian"
     "tableplus"
     "1password-cli"
     "hammerspoon"
     "spotify"
     "postman"
     "visual-studio-code"
     "vlc" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF
