#!/bin/bash

# if cd ~/.tog;
# then
#     git pull
# else
#     git clone git@github.com:toggleglobal/tog.git
# fi
# source ./setup.sh
# go run ~/.tog/src/tg set --pat {{ onepasswordRead "op://Employee/github PAT/credential" .onepasswordAccount }}